body{
	margin: 0px;
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #40514E;
}

hr{
	border-style: none;
	border-top-style: dotted;
	border-color:grey;
	border-width:5px;
	width:5%;
	margin: 5% auto;
}

span{
	text-decoration: underline;
}

h1{
	margin: 50px auto 0 auto;
	font-family: 'Sacramento', cursive;
	font-size: 5.625em;
	color: #91b029;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	color: #91b029;
}

h3{
	font-family: 'Montserrat', sans-serif;
	color: #38470b;
}

.top-container {
	background-color: #eeeeee;
	position: relative;
	padding-top: 100px;
}

.mid-container{
}

.bot-container{
	background-color: #a0855b;
	padding: 30px 0;
	margin-top: 30px;
}

.bot-cloud{
	width: 150px;
	position: absolute;
	left: 300px;
	bottom: 300px;
}

.top-cloud{
	width: 150px;
	position: absolute;
	right: 300px;
	top: 50px;
}

.skill-row{
	width: 50%;
	margin: 100px auto;
	text-align: left;
	line-height: 2;
}

.program{
	float: left;
	width: 25%;
	margin-right: 30px;
}

.electro{
	float: right;
	width: 25%;
	margin-left: 30px;
}

.btn-box{
   margin: 100px 0;
}

.copyright{
	color: #f9f6f2;
	font-family: 'Montserrat', sans-serif;
}

.footer-link{
	color: #38470b;
	font-family: 'Montserrat', sans-serif;
	margin: 0 20px;
	text-decoration: none;
}

.footer-link:hover{
	color: #f9f6f2;
}

.btn-contact-me {
	-moz-box-shadow:inset 0px 1px 0px 0px #90b029;
	-webkit-box-shadow:inset 0px 1px 0px 0px #90b029;
	box-shadow:inset 0px 1px 0px 0px #90b029;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #90b029), color-stop(1, #90b029) );
	background:-moz-linear-gradient( center top, #90b029 5%, #90b029 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#90b029', endColorstr='#90b029');
	background-color:#90b029;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #72910e;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #90b029;
}
.btn-contact-me:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #90b029), color-stop(1, #90b029) );
	background:-moz-linear-gradient( center top, #90b029 5%, #90b029 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#90b029', endColorstr='#90b029');
	background-color:#90b029;
}.btn-contact-me:active {
	position:relative;
	top:1px;
}